In [ ]:
import pandas as pd
import numpy as np
#pd.set_option('max_columns', 120)
#pd.set_option('max_colwidth', 5000)

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,8)

In [ ]:
#------------------------------------------------------------------------------
# THIS DATA IS NOT CONTINUED FROM THE PREV LAB FOR SIMPLICITY
#------------------------------------------------------------------------------

filtered_loans = pd.read_csv('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/filtered_loans_2007_dropTwoVar.csv')
#drop_cols = ['last_credit_pull_d','title']
#filtered_loans = filtered_loans.drop(drop_cols,axis=1)
print(filtered_loans.shape)
filtered_loans.head()

(39239, 22)

,loan_amnt,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,fico_average
0,5000,36 months,162.87,B,10+ years,RENT,24000.0,Verified,1,credit_card,...,0,Jan-85,1,3,0,13648,0.837,9,0.0,737
1,2500,60 months,59.83,C,< 1 year,RENT,30000.0,Source Verified,0,car,...,0,Apr-99,5,3,0,1687,0.094,4,0.0,742
2,2400,36 months,84.33,C,10+ years,RENT,12252.0,Not Verified,1,small_business,...,0,Nov-01,2,2,0,2956,0.985,10,0.0,737
3,10000,36 months,339.31,C,10+ years,RENT,49200.0,Source Verified,1,other,...,0,Feb-96,1,10,0,5598,0.210,37,0.0,692
4,5000,36 months,156.46,A,3 years,RENT,36000.0,Source Verified,1,wedding,...,0,Nov-04,3,9,0,7963,0.283,12,0.0,732

In [ ]:
null_counts = filtered_loans.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
loan_amnt                  0
term                       0
installment                0
grade                      0
emp_length              1057
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
pub_rec_bankruptcies     697
fico_average               0
dtype: int64

In [ ]:
filtered_loans

,loan_amnt,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,fico_average
0,5000,36 months,162.87,B,10+ years,RENT,24000.0,Verified,1,credit_card,...,0,Jan-85,1,3,0,13648,0.837,9,0.0,737
1,2500,60 months,59.83,C,< 1 year,RENT,30000.0,Source Verified,0,car,...,0,Apr-99,5,3,0,1687,0.094,4,0.0,742
2,2400,36 months,84.33,C,10+ years,RENT,12252.0,Not Verified,1,small_business,...,0,Nov-01,2,2,0,2956,0.985,10,0.0,737
3,10000,36 months,339.31,C,10+ years,RENT,49200.0,Source Verified,1,other,...,0,Feb-96,1,10,0,5598,0.210,37,0.0,692
4,5000,36 months,156.46,A,3 years,RENT,36000.0,Source Verified,1,wedding,...,0,Nov-04,3,9,0,7963,0.283,12,0.0,732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39234,2500,36 months,78.42,A,4 years,MORTGAGE,110000.0,Not Verified,1,home_improvement,...,0,Nov-90,0,13,0,7274,0.131,40,NaN,762
39235,8500,36 months,275.38,C,3 years,RENT,18000.0,Not Verified,1,credit_card,...,1,Dec-86,1,6,0,8847,0.269,9,NaN,692
39236,5000,36 months,156.84,A,< 1 year,MORTGAGE,100000.0,Not Verified,1,debt_consolidation,...,0,Oct-98,0,11,0,9698,0.194,20,NaN,742
39237,5000,36 months,155.38,A,< 1 year,MORTGAGE,200000.0,Not Verified,1,other,...,0,Nov-88,0,17,0,85607,0.007,26,NaN,812
39238,7500,36 months,255.43,E,< 1 year,OWN,22000.0,Not Verified,1,debt_consolidation,...,1,Oct-03,0,7,0,4175,0.515,8,NaN,662

In [ ]:
filtered_loans.mean(numeric_only =True)
#filtered_loans.select_dtypes(include=['number']).mean()

loan_amnt               11134.730115
installment               323.273499
annual_inc              68884.323399
loan_status                 0.855934
dti                        13.293984
delinq_2yrs                 0.146563
inq_last_6mths              0.870359
open_acc                    9.286501
pub_rec                     0.055404
revol_bal               13329.338898
revol_util                  0.487377
total_acc                  22.072428
pub_rec_bankruptcies        0.043459
fico_average              717.000765
dtype: float64

In [ ]:
filtered_loans.fillna(filtered_loans.mean(numeric_only =True), inplace=True)
# filtered_loans.fillna(filtered_loans.select_dtypes(include=['number']).mean(), inplace=True)

In [ ]:
null_counts = filtered_loans.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
loan_amnt                  0
term                       0
installment                0
grade                      0
emp_length              1057
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
pub_rec_bankruptcies       0
fico_average               0
dtype: int64

In [ ]:
# Imputation of missing values for categories in pandas using 'mode'
filtered_loans_v1 = filtered_loans.copy()

# For 'mode', there can be many outputs, so we pic the first one.
filtered_loans_v1.fillna(filtered_loans_v1.mode().iloc[0], inplace=True)

In [ ]:
null_counts = filtered_loans_v1.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
loan_amnt               0
term                    0
installment             0
grade                   0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
loan_status             0
purpose                 0
addr_state              0
dti                     0
delinq_2yrs             0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
pub_rec_bankruptcies    0
fico_average            0
dtype: int64

## SimpleImputer (Alernative Method)

Imputation transformer for completing missing values.

Credit: https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html

In [ ]:
filtered_loans = pd.read_csv('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/filtered_loans_2007_dropTwoVar.csv')
null_counts = filtered_loans.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
loan_amnt                  0
term                       0
installment                0
grade                      0
emp_length              1057
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
pub_rec_bankruptcies     697
fico_average               0
dtype: int64

In [ ]:
# 1) select only numeric columns
filtered_loans_num = filtered_loans[['revol_util','pub_rec_bankruptcies']]

In [ ]:
from sklearn.impute import SimpleImputer

num_imp=SimpleImputer(missing_values=np.NaN, strategy='mean')
filtered_loans[['revol_util','pub_rec_bankruptcies']]=pd.DataFrame(num_imp.fit_transform(filtered_loans_num))
filtered_loans.isnull().sum()

loan_amnt                  0
term                       0
installment                0
grade                      0
emp_length              1057
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
pub_rec_bankruptcies       0
fico_average               0
dtype: int64

In [ ]:
# 2) select only categorical columns
filtered_loans_cat = filtered_loans[['emp_length']]

In [ ]:
cat_imp=SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
filtered_loans['emp_length']=pd.DataFrame(cat_imp.fit_transform(filtered_loans_cat))
filtered_loans.isnull().sum()

loan_amnt               0
term                    0
installment             0
grade                   0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
loan_status             0
purpose                 0
addr_state              0
dti                     0
delinq_2yrs             0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
pub_rec_bankruptcies    0
fico_average            0
dtype: int64